<script type="text/javascript">
	function validatePasswords() {
		if ($('#password').val()!='') {
			if ($('#password').val()==$('#password2').val()) {
				$('#passwordform').submit();
			} else {
				alert('Die beiden Passwörter stimmen nicht überein. Bitte gib zweimal das selbe Passwort ein.');
				$('#password').focus();
			}
		} else {
			alert('Bitte gib ein Passwort ein.');
		} 
	}
</script>

<p>Hi {person.vorname}, dein Benutzername ist <b>{person.username}</b>.</p> 
<p>Bitte wähle jetzt ein Passwort. Dieses musst du zur Sicherheit zweimal eingeben.</p>
<f:form id="passwordform" action="createUser">
	<f:form.hidden name="id" value="{person.id}" />
	<f:form.hidden name="code" value="{code}" />
	<f:form.password id="password" name="password" />
	<f:form.password id="password2" name="password2" />
	<f:form.button type="button" onclick="validatePasswords();">Benutzer anlegen</f:form.button>
</f:form>
