Hallo {person.vorname},

Jemand hat in deinem Namen versucht, ein Benutzerkonto auf www.volksmission-freudenstadt.de anzulegen.
Wenn du das warst, klicke bitte auf den folgenden Link, um den Vorgang abzuschließen. 
Sollte der Link nicht klickbar sein, kopiere bitte die angezeigte Adresse in deinen Browser, um die
Bestätigungsseite aufzurufen.

<f:uri.action action="confirmByMail" controller="User" arguments="{id: person.id, code: saltedcode}" absolute="1" />

Wenn du nicht versucht hast, ein Benutzerkonto auf der oben genannten Seite anzulegen, brauchst
du einfach nichts zu tun. Der Versuch, in deinem Namen ein Konto anzulegen, wird dann einfach
gelöscht.

Gottes Segen,

das Team der Volksmission Freudenstadt
freudenstadt@volksmission.de
www.volksmission-freudenstadt.de

 
